body {

}

.container {
    color: beige;
    width: 90%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#question{
    border-radius: 15px;
    height: 65px;
    text: beige;
    font-size: 50px;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.question-container {
    border-radius: 15px;
    width: 90%;
    height: 50%;
    text: beige;
    text-align: center;

    background-color: rgb(15,15,132);
}

.option {
    text: beige;
    margin: 1%;
    width: 42%;
    height: 20%;
    background-color: rgb(55, 55, 188);
    font-size: 25px;
    border-radius: 15px;
    text-align: center;
}

#controls {

}

#new-game-button {
    background-color: cadetblue;
    padding: 1%
}

#high-score-button {
    background-color: coral;
    padding: 1%
}

#scoreboard {
    justify-content: left;
}