body {

}

.container {
    color: beige;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#question{
    border-radius: 15px;
    font-size: xxx-Large;
    text: beige;
    font-size: 50px;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.question-container {
    border-radius: 15px;
    width: 90%;
    height: 50%;
    text: beige;
    text-align: center;

    background-color: rgb(15,15,132);
}

.option {
    text: beige;
    margin: 1%;
    width: 42%;
    height: 20%;
    background-color: rgb(55, 55, 188);
    font-size: 25px;
    border-radius: 15px;
    text-align: center;
}
.option:hover{
    background-color: rgb(12, 12, 84);
    transform: scale(1.05);
}

#controls {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.control-buttons{
}

.timer-container{
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}

#timer-container-controls{
    display: none;

}

#timer-bar {
    background-color: black;
    width: 28em;
}

#timer-time{

}

#timer-fill{
    background-color: crimson;
    width: 27.75em;
    height: 80%;
    margin-top: 0.1em;
    margin-left: 0.1em;
}


#new-game-button {
    background-color: cadetblue;
    padding: 1%
}
#new-game-button:hover{
    background-color: rgb(61, 114, 116)
}

#high-score-button {
    background-color: coral;
    padding: 1%
}
#high-score-button:hover{
    background-color: rgb(184, 91, 58);

}

#scoreboard {
    justify-content: left;
    color: black;
}